@charset "UTF-8";
.navbar {
  background-color: transparent;
  width: auto;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navbar .navbar__logo img {
  height: 60px;
}
.navbar .navbar__links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}
.navbar .navbar__links li {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.navbar .navbar__links a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}
.navbar .navbar__links a.active {
  background-color: #898787;
  color: white !important;
  padding: 10px 20px;
  border-radius: 25px;
}
.navbar .navbar__actions {
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar .navbar__actions a {
  text-decoration: none;
}
.navbar .navbar_hamburguesa {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 20px;
}
.navbar .navbar_hamburguesa .barra {
  width: 35px;
  height: 5px;
  background-color: #2C3E50;
  border-radius: 25px;
}
@media (min-width: 768px) {
  .navbar .navbar__links {
    display: flex;
    flex-direction: row;
    gap: 45px;
  }
  .navbar .navbar_hamburguesa {
    display: none;
  }
  .navbar .navbar__actions {
    display: flex;
  }
}
@media (max-width: 1255px) {
  .navbar {
    /* Los enlaces de navegación se esconden en móviles */
    /* Mostrar el menú hamburguesa */
    /* Mostrar los enlaces cuando la hamburguesa se activa */
    /* Reducir el tamaño del logo en móviles */
    /* Reducir tamaño de los botones en móviles */
  }
  .navbar .navbar__links {
    display: none;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .navbar .navbar_hamburguesa {
    display: flex;
  }
  .navbar .navbar__links.active {
    display: flex;
  }
  .navbar .navbar__logo img {
    height: 40px;
  }
  .navbar .navbar__actions {
    display: none;
  }
  .navbar .btn--primario, .navbar .btn--secundario {
    padding: 5px 12px;
    font-size: 0.8rem;
  }
}
@media (max-width: 1024px) {
  .navbar .navbar__links {
    gap: 30px;
  }
  .navbar .navbar__actions a {
    font-size: 0.9rem;
  }
  .navbar .navbar__links li {
    font-size: 1rem;
  }
  .navbar .navbar_hamburguesa .barra {
    width: 30px;
    height: 4px;
  }
}

.navIcon {
  width: auto;
  display: flex;
  justify-content: center;
  padding: 25px 30px;
  background-color: transparent;
}

.navIcon__logo img {
  height: 80px;
}

.footer {
  width: auto;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #898787;
}
.footer img {
  height: 40px;
}
@media (max-width: 768px) {
  .footer {
    padding: 15px 20px;
  }
}
@media (max-width: 480px) {
  .footer {
    padding: 10px 15px;
  }
}

.footer__container {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}
@media (max-width: 768px) {
  .footer__container {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .footer__container {
    width: 100%;
    padding: 10px;
  }
}

.footer__brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__brand {
    justify-content: space-between;
    padding: 20px 40px;
  }
}
@media (max-width: 480px) {
  .footer__brand {
    gap: 10px;
  }
}

.footer__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__info {
    flex-direction: column;
    padding: 20px 40px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .footer__info {
    gap: 10px;
  }
}

.footer__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}
.footer__section ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__section a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.792);
}
@media (max-width: 768px) {
  .footer__section {
    width: 50%;
    gap: 15px;
  }
}
@media (max-width: 480px) {
  .footer__section {
    gap: 10px;
  }
}

.footer__social {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer__social {
    gap: 15px;
  }
}
@media (max-width: 480px) {
  .footer__social {
    gap: 10px;
  }
}

.formulario {
  width: 40%;
  padding: 40px;
  border-radius: 5px;
  border: 3px solid #2C3E50;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.309);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 30px;
}
.formulario h1 {
  font-size: 2.5em;
  color: black;
}
.formulario label {
  font-size: 1rem;
}
@media (max-width: 768px) {
  .formulario {
    width: 80%; /* Ajustamos el formulario al 80% del ancho en tablets */
    padding: 30px;
  }
}
@media (max-width: 480px) {
  .formulario {
    width: 90%; /* En móviles, el formulario ocupa el 90% del ancho */
    padding: 20px;
  }
}

.formulario--campo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.formulario--campo input, .formulario--campo textarea {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #2C3E50;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.formulario--marca {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.formulario__pasos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.progreso {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.progreso__paso {
  width: 80px;
  height: 5px;
  background-color: #898787;
  border-radius: 25px;
}

.progreso__paso__active {
  background-color: green;
}

.btn--primario {
  border: none;
  background-color: #2C3E50;
  border-radius: 25px;
  padding: 10px 20px;
  color: white;
}
@media (max-width: 768px) {
  .btn--primario {
    padding: 8px 15px;
    font-size: 0.9rem;
    max-width: 80px;
  }
}
@media (max-width: 480px) {
  .btn--primario {
    padding: 12px;
    width: 100%;
    font-size: 1rem;
  }
}

.btn--secundario {
  border: 4px solid #2C3E50;
  border-radius: 25px;
  padding: 5px 10px;
  color: #2C3E50 !important;
  font-weight: bold;
}
@media (max-width: 768px) {
  .btn--secundario {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}
@media (max-width: 480px) {
  .btn--secundario {
    padding: 12px;
    width: 100%;
    font-size: 1rem;
  }
}

.btn--terciario {
  border: 2px solid #4A90E2;
  border-radius: 25px;
  padding: 5px 10px;
  color: #4A90E2 !important;
  font-weight: bold;
}
@media (max-width: 768px) {
  .btn--terciario {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}
@media (max-width: 480px) {
  .btn--terciario {
    padding: 12px;
    width: 100%;
    font-size: 1rem;
  }
}

.btn--destacado {
  border: none;
  background-color: #4A90E2;
  border-radius: 25px;
  padding: 10px 20px;
  color: white;
}
@media (max-width: 768px) {
  .btn--destacado {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}
@media (max-width: 480px) {
  .btn--destacado {
    padding: 8px 12px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .btn {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}
@media (max-width: 480px) {
  .btn {
    padding: 8px 12px;
    width: 100%;
    font-size: 1rem;
  }
}

.carta {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  border-radius: 25px;
}
@media (max-width: 768px) {
  .carta {
    padding: 15px;
  }
}

.carta--principal {
  height: 300px;
  width: 400px;
  background: linear-gradient(to bottom, #c1c1c1, #faf8f8);
}
.carta--principal img {
  width: 100px;
}
@media (max-width: 1024px) {
  .carta--principal {
    width: 90%;
    height: auto;
  }
}
@media (max-width: 480px) {
  .carta--principal {
    width: 100%;
  }
}

.carta--secundaria {
  width: 450px;
  background: linear-gradient(to bottom, #c1c1c1, #faf8f8);
}
@media (max-width: 1024px) {
  .carta--secundaria {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .carta--secundaria {
    width: 100%;
  }
}

.carta--reseña {
  width: 450px;
  background-color: white;
  box-shadow: 0px 6px 114px rgba(0, 0, 0, 0.1);
}
.carta--reseña img {
  width: 200px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
@media (max-width: 768px) {
  .carta--reseña {
    width: 100%;
  }
}

.carta--pasos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #c1c1c1, #faf8f8);
  border-radius: 25px;
  padding: 20px;
}
.carta--pasos img {
  width: 50%;
}
@media (max-width: 1255px) {
  .carta--pasos {
    width: 70%;
    /* Centrar el contenido */
    margin: 0 auto;
  }
}
.carta--pasos__contenido {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.carta--pasos__contenido p {
  text-align: start;
}

.cartas--planes {
  width: 20%;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  border: 4px solid #898787;
  border-radius: 25px;
  background-color: white;
}
.cartas--planes li {
  color: black;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: start;
}
.cartas--planes li::before {
  content: "✔";
  color: green;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 10px;
}
@media (max-width: 1024px) {
  .cartas--planes {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .cartas--planes {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .cartas--planes {
    width: 70%;
  }
}

.profesional {
  border-color: #4A90E2;
  box-shadow: 0px 10px 30px rgba(74, 144, 226, 0.3);
  transform: scale(1.05);
}

.aside__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  width: 20%;
}
.aside__menu .aside__item {
  padding: 20px;
}
.aside__menu .aside__idioma {
  position: relative;
  display: inline-block;
}
.aside__menu .aside__idioma .idioma__btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
}
.aside__menu .aside__idioma .idioma__btn img {
  width: 30px;
}
.aside__menu .aside__idioma .idioma__btn:hover {
  transform: scale(1.1);
}
.aside__menu .aside__idioma .idioma__lista {
  position: absolute;
  top: 40px;
  left: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 5px 0;
  display: none;
  width: 120px;
}
.aside__menu .aside__idioma .idioma__lista li {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  transition: background 0.2s;
}
.aside__menu .aside__idioma .idioma__lista li img {
  width: 25px;
  margin-right: 8px;
}
.aside__menu .aside__idioma .idioma__lista li:hover {
  background: #f0f0f0;
}
.aside__menu .aside__idioma.activo .idioma__lista {
  display: block;
}
.aside__menu .aside__modo .modo--button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
}
.aside__menu .aside__modo .modo--button:hover {
  transform: scale(1.1);
}
.aside__menu .aside__modo .modo--button img {
  width: 30px;
}

body.modo-oscuro {
  background-color: #7b7b7b;
}
body.modo-oscuro h1,
body.modo-oscuro h2,
body.modo-oscuro h3,
body.modo-oscuro h4,
body.modo-oscuro h5,
body.modo-oscuro h6,
body.modo-oscuro p,
body.modo-oscuro a,
body.modo-oscuro li {
  color: white;
}
body.modo-oscuro header {
  background-color: #cfcfcf;
}
body.modo-oscuro footer {
  background-color: #9c9c9c;
}
body.modo-oscuro .carta {
  background-color: #cfcfcf;
}

.oculto {
  display: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=components.css.map */
