@use 'variables' as *;


// ======================= BOTONES ======================= 
.btn--primario {
    border: none;
    background-color: $color-boton;
    border-radius: 25px;
    padding: 10px 20px;

    color: white;
} 

.btn--secundario {
    border: 4px solid $color-boton;
    border-radius: 25px;
    padding: 5px 10px;

    color: $color-boton !important;
    font-weight: bold;
}

.btn--terciario {
    border: 2px solid $color-destacado;
    border-radius: 25px;
    padding: 5px 10px;

    color: $color-destacado !important; 
    font-weight: bold;
}

.btn--destacado {
    border: none;
    background-color: $color-destacado;
    border-radius: 25px;
    padding: 10px 20px;

    color: $color-primario;
}