// Variables colores
$color-primario: white;
$color-secundario: #898787;
$color-texto: black;

$color-boton: #2C3E50;
$color-cartas: linear-gradient(to bottom, #c1c1c1, #faf8f8);

$color-destacado: #4A90E2;
$color-active: green;

// Variables fuentes
$fuente-texto: 'Roboto', sans-serif;
$fuente-titulos:  'Poppins', sans-serif; 

// Variables modo oscuro
$color-fondo-oscuro: #2C3E50;
$color-texto-oscuro: white;
$color-boton-oscuro: #34495E;
$color-secundario-oscuro: #7F8C8D;
$color-destacado-oscuro: #3498DB;
$color-cartas-oscuro: linear-gradient(to bottom, #2C3E50, #34495E);