// Variables colores
$color-primario: white;
$color-secundario: #898787;
$color-texto: black;

$color-boton: #2C3E50;
$color-cartas: linear-gradient(to bottom, #c1c1c1, #faf8f8);

$color-destacado: #4A90E2;
$color-active: green;

// Variables fuentes
$fuente-texto: 'Roboto', sans-serif;
$fuente-titulos:  'Poppins', sans-serif; 