@use 'variables' as *;

*{
    margin: 0;
    padding: 0;   
}

body{
    font-family: $fuente-texto !important;
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6{
    font-family: $fuente-titulos !important;
    color: $color-texto;
}

p{
    color: $color-texto;
    font-size: 1.2rem;
    line-height: 1.8;
}

main{
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 30px;
    margin-bottom: 30px; 
}

// ================ PAGINAS (PROPIEDADES GENEARALES) ================
header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: $color-primario;
}

// ================ INICIO ================
.inicio__head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;

    h1{
        font-size: 2rem;
    }
}

.inicio__head__side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    img{
        width: 100%;
    }
}

// PASOS
.inicio__pasos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

// SOLUCION
.solution{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;

    p{
        width: 70%;
    }
}

.inicio__cartas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

//  POR QUE NOSOTROS 
.inicio__razones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.inicio__razones--cartas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

// RESEÑAS 
.inicio__reseñas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.inicio__reseñas__cartas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

// ================ SOBRE NOSOTROS ================

.abaut__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.abaut__section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin-bottom: 50px;
}

.producto__cartas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.abaut__main .carta--secundaria {
    width: auto;
}

.valores__cartas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

// ================ COMO FUNCIONA ================
.function__main {
    align-items: center;
    padding: 50px;
}

.function__pasos {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

    img {
        width: 80%;
    }
}

.function__cta {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

// ================ PLANES ================
.planes__main {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;
    gap: 50px;
    padding: 50px;
}

.planes__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* Cartas de planes (precios) */
.planes__info {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Lista con icono en verde */
.cartas--planes li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: start;
}

.cartas--planes li::before {
    content: "✔";
    color: $color-active;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
}

.cartas--planes__btn .btn { 
    display: inline-block;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.3s;
}

// ================ CONTACTO ================
.contacto__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

}

.contacto__info {
    padding: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}


.contacto__info__soporte {
    padding: 35px; 
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contacto__info__datos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacto__info__mapa iframe {
    border-radius: 25px;
}